<div class="container page-container">
  <div class="row text-center justify-content-center">
    <div class="col-md-8">
      <p class="p-lead mb-3">Frequently Asked Questions</p>
      <h1>Got a Question? It may be here</h1>
      <p class="lead">If your question isn't listed here or you need a more specific answer please <a data-toggle="modal" data-target="#modal-contact"><strong>contact me</strong></a></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="question mb-5">
        <h3>What are your payment options?</h3>
        <p>I am quite flexible with payment arrangements and open to options that suit you. Generally, I have found that 50% deposit at the commencement of the project and the remaining 50% when the project is completed and the contract has been signed off.</p>
      </div>
      <div class="question mb-3">
        <h3>Can I add changes to the requirements of the project once the contract has been signed?</h3>
        <p>Yes! This is just the nature of the beast. This will involve a few easy steps:</p>
        <ul>
          <li>Assess the new requirements</li>
          <li>Check whether modifications need to take place on the existing build</li>
          <li>Rewrite the contract to fit the new requirements</li>
          <li>Sign off the modified contract with you (the client)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

