<div class="container page-container">
  <div class="row text-center justify-content-center">
    <div class="col-md-8">
      <p class="p-lead mb-3">Projects</p>
      <h1>The Sample Room</h1>
      <p class="lead">Check out a few samples of my work</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-10">
              <div class="card-title">
                <h3>ChecksumVerifier</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 text-center">
              <div class="card-header-fa-icons">
                <a  class="pr-1" href="https://github.com/Blasphemien/ChecksumVerifier" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">.NET WPF C#</h6>
          <p class="card-text">Calculates SHA256, SHA1 and MD5 hashes. This is still in active development but main functionality is complete.</p>
          <ul>
            <li>Drag and drop files</li>
            <li>Selective hashes</li>
          </ul>
          <p></p>
          <a href="https://github.com/Blasphemien/ChecksumVerifier" target="_blank" class="card-link">View on Github</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12">
              <div class="card-title">
                <h3>John Brooks Engineering</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Java, MySQL</h6>
          <p class="card-text">
          <p><strong>Third year internship</strong> Java application to automate the process for selecting the correct
            sized couplings to connect a gear box to a specific conveyor belt motor based on factors such as torque
            (the amount of force needed to move an object), speed, friction and weight. Data for this application was
            stored on a local MySQL database which connected to the Java client which was made to be used cross-platform.</p>

          <p>The design analysis and techniques of the project included UML using Visual Paradigm to layout the DB entities
            before they were put into development, the Software Development Life Cycle methodology, unit testing in jUnit,
            Agile project management using SCRUM to manage development phases as well as documentation which had to be signed off by the client.</p>
          <ul>
            <li>Static table on GUI to guide the user of the boundaries between the different ratios of tourqe, speed and
              friction of a motor and gearbox</li>
            <li>Calculations are stored in a centralized MySQL DB</li>
            <li>User has the option to make print outs of past calculations for review</li>
          </ul>
          <p></p>
          <a href="../../assets/images/projects/johnbrooks/Poster.jpg" target="_blank" class="card-link">Spec sheet</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-10">
              <div class="card-title">
                <h3>StarWarsCharacterNames (npm pkg & JS Library)</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 text-center">
              <div class="card-header-fa-icons">
                <a  class="pr-1" href="https://github.com/Blasphemien/StarWarsCharacterNames" target="_blank">&nbsp;
                  <i class="fab fa-github fa-2x"></i>
                </a>
                <a href="https://www.npmjs.com/package/starwars-character-names" target="_blank">
                  <i class="fab fa-npm fa-2x"></i>&nbsp;
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Javascript</h6>
          <p class="card-text">
            starwars-character-names is a JS library published to npm. Its purpose is to provide the user an easy API for getting random names of starwars characters</p>
          <h5>Build tools</h5>
          <ul>
            <li>Testing: mocha, chai</li>
            <li>Release: semantic-release & commitizen</li>
            <li>Build: Webpack</li>
            <li>Intergration: Travis CI</li>
          </ul>
          <h5>Install</h5>
          <div class="code-block">
           <pre class="pre-scrollable"><code>
npm install --save starwars-character-names
           </code></pre>
          </div>
          <h5>Usage</h5>
          <div class="code-block">
           <pre class="pre-scrollable"><code>
// require module
var starWarsNames = require('starwars-character-names');

// returns an array of all names
var allNames = starWarsNames.filter.all;

// returns single random name
var randomName = starWarsNames.filter.random();

// returns an array of n number of names
var fourNames = starWarsNames.filter.random(number);

// returns array of names with the first name beginning with user defined char
var firstNamesByChar = starWarsNames.filter.byFirstCharOfFirstName(char);

// returns array of names with the second name beginning with user defined char
var secondNamesByChar = starWarsNames.filter.byFirstCharOfSecondName(char);
           </code></pre>
          </div>
          <p></p>
          <a class="card-link" href="https://github.com/Blasphemien/StarWarsCharacterNames" target="_blank">Github</a>
          <a class="card-link" href="https://www.npmjs.com/package/starwars-character-names" target="_blank">npm</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-10">
              <div class="card-title">
                <h3>Messenger</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 text-center">
              <div class="card-header-fa-icons">
                <a  class="pr-1" href="https://github.com/Blasphemien/Messenger" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Angular, Node, Express, MongoDB</h6>
          <p class="card-text">A messaging app in Node, Angular and MongoDB which allows users to sign up for an account and begin instant messaging on the public fourm.</p>
          <ul>
            <li>Credentials hashed and salted (SHA)</li>
            <li>Web Tokens to validate auth</li>
            <li>Lazy loading of component modules</li>
          </ul>
          <p></p>
          <a class="card-link" href="https://github.com/Blasphemien/Messenger" target="_blank">Github</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-10">
              <div class="card-title">
                <h3>Responsive Recipe Book</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 text-center">
              <div class="card-header-fa-icons">
                <a  class="pr-1" href="https://github.com/Blasphemien/RecipeBook" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Angular, Node, Express, MongoDB</h6>
          <p class="card-text">A responsive and scalable recipe book that allows users to create and store their own recipes for future use.</p>
          <ul>
            <li>CRUD ops from client to Firebase DB</li>
          </ul>
          <a href="https://github.com/Blasphemien/RecipeBook" target="_blank" class="card-link">View on Github</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-10">
              <div class="card-title">
                <h3>Tasky</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 text-center">
              <div class="card-header-fa-icons">
                <a  class="pr-1" href="https://github.com/Blasphemien/Tasky" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Electron</h6>
          <p class="card-text">Cross platform task manager for Windows, OSX and Linux</p>
          <ul>
            <li>No thread throtteling when app is in background mode</li>
            <li>Change default timeout values for each task</li>
            <li>Cross platform (Windows, OSX, iOS and linux)</li>
            <li>Activate/deactivate tasks</li>
          </ul>
          <p></p>
          <a href="https://github.com/Blasphemien/Tasky" target="_blank" class="card-link">View on Github</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-10">
              <div class="card-title">
                <h3>Monopoly</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 text-center">
              <div class="card-header-fa-icons">
                <a  class="pr-1" href="https://github.com/Blasphemien/Monopoly" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">C#</h6>
          <p class="card-text">Console based version of the board game Monopoly</p>
          <ul>
            <li>Conduct unit tests on all classes in monopoly game using nUnit framework and produce average of 75% code coverage for overall codebase</li>
          </ul>
          <p></p>
          <a href="https://github.com/Blasphemien/Monopoly" target="_blank" class="card-link">View on Github</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-10">
              <div class="card-title">
                <h3>Battleships</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 text-center">
              <div class="card-header-fa-icons">
                <a  href="https://github.com/Blasphemien/BattleShips" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">C#</h6>
          <p class="card-text">.NET Windows Forms version of the game Battleships</p>
          <p></p>
          <a href="https://github.com/Blasphemien/BattleShips" target="_blank" class="card-link">View on Github</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>
</div>
